/* リセットCSS */
body{
  font-size: 14px;
  color: #494949;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6, p{
  padding: 10px 0;
  margin: 0;
  ’
}
ul, li{
  padding: 0;
  margin: 0;
}
/* リセットCSS */

*{
  box-sizing: border-box;
}

body{
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

/* ---------------------------------- catch ---------------------------------- */
.catch{
  width: 100vw;
  background-color: #0168B4;
}
.catch_line{
  width: 100vw;
  height: 5px;
  background-color: #0168B4;
}
.title{
  background-color: white;
  color: #0168B4;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
}
.balloon_con{
  display: flex;
  justify-content: center;
}
.balloon{
  position: relative;
  display: inline-block;
  margin: 30px 0;
  padding: 7px 10px;
  font-size: 16px;
  background: white;
  border-radius: 15px;
  border: 1px solid white;
  color: #0168B4;
}
.balloon:before{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid white;
}
.balloon p{
  margin: 0 10px;
  padding: 0;
  font-weight: bold;
}
.catch_copy{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  line-height: 30px;
}
.catch_1, .catch_3{
  font-size: 30px;
}
.catch_2{
  font-size: 40px;
}
.catch_appeal{
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px auto 0 auto;
  padding-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
  max-width: 400px;
}
.catch_appeal p{
  padding: 0;
}
.catch_appeal_2{
  width: 1px;
  height: 100px;
  background-color: white;
}
.catch_appeal_1_2, .catch_appeal_3_2{
  text-align: center;
}
.catch_appeal span{
  font-size: 35px;
}
/* 中央揃えのため */
.catch_appeal_3_1{
  margin: 0 15px;
}

/* ---------------------------------- campaign ---------------------------------- */
.campaign{
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.campaign_frame{
  width: 90%;
  max-width: 500px;
  border: 4px solid #0168B4;
  border-radius: 15px;
  padding: 20px 20px 10px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.campaign_frame img{
  width: 290px;
  position: absolute;
  top: -40px;
}
.campaign_1, .campaign_3{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}
.campaign_line{
  border-bottom: 1px solid #494949;
}
.campaign_title_1, .campaign_title_3{
  display: flex;
  align-items: center;
  font-weight: bold;
}
.circle{
  color: white;
  font-size: 20px;
  background-color: #0168B4;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.campaign_title_1_1, .campaign_title_3_1{
  font-size: 20px;
}
.campaign_fee_1, .campaign_fee_3{
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0;
}
.campaign_fee_1 span, .campaign_fee_3 span{
  font-size: 50px;
  color: #0168B4;
}
.campaign_text_1, .campaign_text_3{
  font-size: 15px;
}

/* ---------------------------------- action ---------------------------------- */
.action_messege{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin: 50px 0 20px 0;
}
.action_messege_1{
  height: 3px;
  width: 40px;
  background-color: #0168B4;
  transform: rotate(70deg);
}
.action_messege_2{
  font-size: 20px;
  color: #0168B4;
  line-height: 15px;
  text-align: center;
}
.action_messege_3{
  height: 3px;
  width: 40px;
  background-color: #0168B4;
  transform: rotate(-70deg);
}
.action_btn a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  background-color: #0168B4;
  height: 70px;
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-weight: bold;
}

/* ---------------------------------- before ---------------------------------- */
.before img{
  width: 100vw;
  margin-top: 40px;
  vertical-align: bottom; /* 画像の下の隙間削除 */
}

/* ---------------------------------- production ---------------------------------- */
.production{
  height: 115px;
  width: 100vw;
  background: url(images/個人・小規模のための.png) no-repeat center;
  font-weight: bold;
}
.production_mask{
  height: 100%;
  background: rgb(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 20px;
}
.production p{
  font-size: 20px;
}
.production span{
  font-size: 25px;
  color: #0168B4;
}

/* ---------------------------------- appeal ---------------------------------- */
.appeal{
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.appeal_image{
  display: flex;
  justify-content: center;
}
.appeal img{
  width: 90vw;
  max-width: 400px;
}
.appeal_con_text{
  max-width: 510px;
}
.appeal_title{
  font-size: 20px;
  line-height: 35px;
  margin: 25px 0 5px 0;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.appeal_title span{
  font-size: 27px;
  color: #0168B4;
}
.appeal_text{
  font-size: 15px;
}
.appeal_text_1, .appeal_text_2{
  margin-bottom: 30px;
}

/* ---------------------------------- after ---------------------------------- */
.after img{
  width: 100vw;
  vertical-align: bottom; /* 画像の下の隙間削除 */
}

/* ---------------------------------- choice ---------------------------------- */
.choice{
  height: 115px;
  width: 100vw;
  background: url(images/理由.png) no-repeat center;
  font-weight: bold;
}
.choice_mask{
  height: 100%;
  background: rgb(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 20px;
}
.choice p{
  font-size: 20px;
  opacity: 1;
}
.choice span{
  font-size: 25px;
  color: #0168B4;
  opacity: 1;
}

/* ---------------------------------- reason ---------------------------------- */
.reason{
  display: flex;
  justify-content: center;
}
.reason_frame{
  width: 90vw;
  max-width: 500px;
  border: 3px solid #E3E3E3;
  margin: 20px 0;
}
.reason_1{
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.reason_title{
  display: flex;
  align-items: center;
}
.reason_point{
  height: 70px;
  width: 70px;
  border-radius: 35px;
  background-color: #0168B4;
  color: white;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reason_point span{
  font-size: 25px;
}
.reason_title_text{
  font-size: 20px;
  font-weight: bold;
  margin: 0 40px 0 15px;
}
.reason_text{
  font-size: 15px;
  margin: 20px 0 10px 0;
}
.reason_icon{
  height: 110px;
  width: 110px;
  background-color: white;
  border-radius: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reason_icons{
  font-size: 65px;
  color: #0168B4;
}
.reason_2{
  background-color: white;
}
.reason_icon_2{
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  line-height: 30px;
}
.mini{
  font-size: 30px;
}

/* ---------------------------------- fee ---------------------------------- */
.fee{
  width: 100vw;
  background-color: #0168B4;
  color: white;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fee_title, .fee_50000{
  font-size: 30px;
  font-weight: bold;
}
.fee_50000 {
  letter-spacing: 5px;
}
.fee_price{
  border: 2px solid white;
  font-size: 20px;
  font-weight: bold;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 20px 0;
}
.fee_text{
  font-size: 15px;
}

/* ---------------------------------- flow ---------------------------------- */
.flow{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flow_title{
  font-size: 25px;
  font-weight: bold;
  margin-top: 30px;
}
.flow_con{
  background-color: #F7F7F7;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 20px;
  margin-top: 50px;
  max-width: 600px;
}
.flow_con_first{
  margin-top: 30px;
}
.step{
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #0168B4;
  height: 40px;
  width: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -20px;
}
.flow_icon{
  height: 110px;
  width: 110px;
  background-color: white;
  border-radius: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0 15px 0;
}
.flow_icons{
  font-size: 65px;
  color: #0168B4;
}
.flow_con_title{
  font-size: 25px;
  font-weight: bold;
}
.flow_con_text{
  font-size: 15px;
}
.flow_top, .flow_bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---------------------------------- action ---------------------------------- */
.last_action{
  margin-bottom: 50px;
}

/* ---------------------------------- 390px ---------------------------------- */
@media (min-width: 390px) {
  .none_390{
    display: none;
  }
}

/* ---------------------------------- 768px ---------------------------------- */
@media (min-width: 768px) {
  /* ---------------------------------- catch ---------------------------------- */
  .catch {
    padding-bottom: 60px;
  }
  .title {
    font-size: 30px;
    padding-left: 15vw;
  }
  .balloon {
    padding: 7px 30px;
    font-size: 35px;
    margin-top: 100px;
  }
  .catch_1, .catch_3 {
    font-size: 50px;
  }
  .catch_2 {
    font-size: 80px;
  }
  .catch_appeal_3_1 {
    margin: 0 30px;
  }
  .catch_copy {
    line-height: 70px;
  }
  .catch_appeal {
    max-width: 800px;
    margin: 50px auto 0 auto;
    font-size: 27px;
  }
  .catch_appeal span {
    font-size: 65px;
  }
  .catch_appeal_2 {
    width: 2px;
    height: 150px;
  }
  /* ---------------------------------- campaign ---------------------------------- */
  .campaign_title_1, .campaign_title_3 {
    flex-direction: column;
  }
  .campaign_frame {
    padding: 50px 30px 40px 30px;
    flex-direction: unset;
    justify-content: center;
    align-items: start;
    max-width: 1315px;
  }
  .campaign_1, .campaign_3 {
    width: 50%;
  }
  .campaign_frame img {
    width: 600px;
    top: -80px;
  }
  .circle {
    font-size: 30px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .campaign_title_1_1, .campaign_title_3_1 {
    font-size: 25px;
  }
  .campaign_fee_1, .campaign_fee_3 {
    font-size: 30px;
    margin: 20px 0;
  }
  .campaign_fee_1 span, .campaign_fee_3 span {
    font-size: 80px;
  }
  .campaign_text_1, .campaign_text_3 {
    font-size: 18px;
  }
  .campaign {
    margin-top: 170px;
    margin-bottom: 80px;
  }
  .campaign_line {
    border-bottom: 0px solid #494949;
    border-right: 1px solid #494949;
    padding-right: 30px;
  }
  .campaign_3{
    padding-left: 30px;
  }
  /* ---------------------------------- action ---------------------------------- */
  .action_messege_2 {
    font-size: 30px;
    line-height: 35px;
  }
  .action_messege_1, .action_messege_3{
    width: 65px;
  }
  .action_btn a {
    font-size: 30px;
    height: 100px;
    width: 500px;
    margin: 30px auto 100px auto;
  }
  /* ---------------------------------- before ---------------------------------- */
  .before{
    display: flex;
    justify-content: center;
    background-color: #F7F7F7;
  }
  .before img {
    margin-top: 0;
    max-width: 768px;
  }
  /* ---------------------------------- production ---------------------------------- */
  .production {
    height: 200px;
    background-image: url(images/個人・小規模のための.png);
    background-size: cover;
  }
  .production span {
    font-size: 35px;
  }
  .production p {
    font-size: 25px;
  }
  .production_mask {
    line-height: 30px;
  }
  /* ---------------------------------- appeal ---------------------------------- */
  .appeal_con{
    display: flex;
    margin-bottom: 50px;
    align-items: center;
  }
  .appeal_con_text{
    width: 60vw;
    max-width: 687px;
  }
  .appeal img {
    width: 30vw;
    max-width: 350px;
    margin-right: 40px;
  }
  .appeal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 2vw;
  }
  .appeal_title, .appeal_text_1, .appeal_text_2{
    margin: 0;
  }
  .appeal_text {
    font-size: 18px;
  }
  .appeal_title {
    font-size: 25px;
    line-height: 40px;
    justify-content: flex-start;
  }
  .appeal_title span {
    font-size: 35px;
  }
  .appeal_adjustment {
    padding: 0;
  }
  /* ---------------------------------- after ---------------------------------- */
  .after{
    display: flex;
    justify-content: center;
    background-color: #EBF8FF;
  }
  .after img {
    max-width: 768px;
  }
  /* ---------------------------------- choice ---------------------------------- */
  .choice {
    height: 200px;
    background-image: url(images/理由.png);
    background-size: cover;
  }
  .choice span {
    font-size: 35px;
  }
  .choice p {
    font-size: 25px;
  }
  /* ---------------------------------- reason ---------------------------------- */
  .reason_frame {
    margin: 50px 0;
    max-width: 900px;
  }
  .reason_1{
    flex-direction: unset;
    padding: 50px;
    justify-content: space-around;
  }
  .reason_text {
    font-size: 18px;
    margin: 30px 0 0 0;
  }
  .reason_title_text {
    font-size: 25px;
    margin: 0 0 0 25px;
  }
  .reason_point span {
    font-size: 35px;
  }
  .reason_point {
    height: 90px;
    width: 90px;
    border-radius: 45px;
    font-size: 20px;
  }
  .reason_left{
    max-width: 500px;
    width: 70%;
  }
  .reason_icons {
    font-size: 77px;
  }
  .reason_icon {
    height: 130px;
    width: 130px;
    border-radius: 65px;
  }
  .mini {
    font-size: 37px;
  }
  /* ---------------------------------- fee ---------------------------------- */
  .fee_title, .fee_50000 {
    font-size: 35px;
  }
  .fee_price {
    font-size: 25px;
    width: 500px;
    padding: 40px;
    margin: 30px 0;
  }
  .fee_text{
    font-size: 18px;
  }
  .fee {
    padding: 80px 40px;
  }
  /* ---------------------------------- flow ---------------------------------- */
  /* ---------------------------------- action ---------------------------------- */
}
/* ---------------------------------- 1110px ---------------------------------- */
@media (min-width: 1110px) {
  .campaign_title_1, .campaign_title_3 {
    flex-direction: unset;
    font-size: 30px;
  }
  .circle {
    margin-right: 20px;
    margin-bottom: 0;
  }
  .campaign_text_1, .campaign_text_3 {
    font-size: 20px;
  }
  .appeal_text {
    font-size: 20px;
  }
  .reason_icon {
    height: 150px;
    width: 150px;
    border-radius: 75px;
  }
  .reason_icons {
    font-size: 90px;
  }
  .mini {
    font-size: 45px;
  }
  .reason_text {
    font-size: 20px;
  }
  .fee_text{
    font-size: 20px;
  }
  /* ---------------------------------- flow ---------------------------------- */
  .flow_top, .flow_bottom{
    flex-direction: unset;
    align-items: unset;
    justify-content: space-between;
    width: 95vw;
    max-width: 1200px;
  }
  .flow_con_text {
    font-size: 20px;
  }
  .flow_con_title {
    font-size: 30px;
  }
  .flow_con_first {
    margin-top: 50px;
  }
  .flow_con {
    max-width: 385px;
    width: 30vw;
  }
  .flow_title {
    font-size: 35px;
    margin-top: 50px;
  }
  .flow_icons {
    font-size: 90px;
  }
  .flow_icon {
    height: 150px;
    width: 150px;
    border-radius: 75px;
    margin: 30px 0 15px 0;
  }
  .step {
    font-size: 25px;
    height: 50px;
    width: 180px;
    border-radius: 25px;
    top: -25px;
  }
}
